doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Success
    body 
        p Payment successful
        table 
            tr
                th = Title 
                th = Price
                th = Payment Method
            tr 
                td #{title}
                td #{price}
                td #{payment_method}